:root {
    --bg-primary: #080e1b;
    --project-primary: #146c94;
    --card-bg: #20262e;
  }

  body {
    background: var(--bg-primary);
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }

  .btn-outline-project-primary {
    color: var(--project-primary);
    border-color: var(--project-primary);
  }

  .btn-outline-project-primary:hover {
    color: white;
    background: var(--project-primary);
  }

  .card {
    background: var(--card-bg);
    color: white;
  }

  .book_img {
    display: flex;
    justify-content: center;
  }